@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-textPrimary antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", "Roboto", "Helvetica", sans-serif;
}
